beautifulsoup4==4.12.3
bokeh==3.5.2
dask==2024.8.2
dask[distributed]==2024.8.2
filelock==3.16.1
gensim==4.3.3
html5lib==1.1
lxml[html_clean]==5.3.0
matplotlib==3.9.2
nltk==3.6.5
numpy==1.26.4
pandas==2.2.2
pyLDAvis==3.4.0
readability-lxml==0.8.1
scikit-learn==1.5.1
spacy==3.7.6
sqlalchemy==2.0.36
tqdm==4.66.5
